* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 54%, 90%);
}

h1, h2 {
    font-family: "Young Serif", serif;
}

p, li, span {
    font-family: 'Outfit', sans-serif;
}

p {
    color: hsl(30, 10%, 34%);
    margin-bottom: 20px;
    font-size: 16px;
}

h1 {
    color: hsl(24, 5%, 18%);
    font-size: 42px;
    margin-top: 24px;
    margin-bottom: 15px;
}

main {
    margin: 0 auto;
    width: 755px;
    background-color: #fff;
}

/* container */
.container {
    padding: 38px;
}

/* Jumbotron */

.jumbotron img {
    height: 340px;
    width: 100%;
    border-radius: 12px;
}

/* Preparation time section */

.prepContainer {
    background-color: hsl(330, 100%, 98%);
    padding: 24px;
    border-radius: 5px;
     margin-bottom: 30px;
}

.prepContainer h2 {
    color: hsl(332, 51%, 32%);
    font-family: 'Outfit', sans-serif;
    margin-bottom: 15px;
}

.prepContainer ul {
    list-style:inside;
    
}

.prepContainer ul > li:not(:last-child) {
    margin-bottom: 12px;
}

.prepContainer span {
    font-weight: 700;
}